workflows/gmail-inbox-classifier.json
{
  "name": "Gmail_Inbox_automation_endtoend",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "filters": {}
      },
      "id": "bef87595-c5bd-4715-9d7b-d9ffc930261b",
      "name": "Gmail Trigger",
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.3,
      "position": [-288, -32]
    },
    {
      "parameters": {
        "inputText": "=Subject-  {{ $json.Subject }}\nBody- {{ $json.snippet }}",
        "categories": {
          "categories": [
            {
              "category": "Important Emails",
              "description": "Any email which ask about project consultancy requests, mentoring requests, implementing AI strategies etc. should be classified in this category "
            },
            {
              "category": "Newsletters ",
              "description": "Any email which talks about product updates, news should be classified into this category"
            },
            {
              "category": "Subscription related and billing related ",
              "description": "Which is related to renewals, billing-related information should be classified to this category. "
            }
          ]
        },
        "options": {}
      },
      "id": "8896ca03-3ab6-4eea-9da5-6c68787a112f",
      "name": "Text Classifier",
      "type": "@n8n/n8n-nodes-langchain.textClassifier",
      "typeVersion": 1.1,
      "position": [-80, -32]
    },
    {
      "parameters": {
        "model": "openai/gpt-5-mini",
        "options": {}
      },
      "id": "3e2b218f-6b72-4fef-97b5-9d2d6dadfcf7",
      "name": "OpenRouter Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [-160, 176]
    },
    {
      "parameters": {
        "resource": "label",
        "operation": "create",
        "name": "Important Email",
        "options": {}
      },
      "id": "4e57e8a5-39f8-4e1d-b912-278e45eacf4c",
      "name": "Create a label",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [320, -112],
      "webhookId": "17d50c7e-e06f-497b-8267-6d0789686652",
      "disabled": true
    },
    {
      "parameters": {
        "operation": "addLabels",
        "messageId": "={{ $('Gmail Trigger').item.json.id }}",
        "labelIds": ["IMPORTANT"]
      },
      "id": "d71fbec6-044b-4be8-ac3c-4ac4371b0fea",
      "name": "Add label to message",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [512, -112],
      "webhookId": "942bc0f7-4587-45bd-afa5-f33e4765ab60"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Subject-  {{ $('Gmail Trigger').item.json.Subject }}\n\nBody- {{ $('Gmail Trigger').item.json.snippet }}",
        "options": {
          "systemMessage": "You are an expert email writer who have written for the brands like Mckensy.\n\nContext:\n* Company name: Tech Wizards\n* Services: Technology consulting and project execution\n* Availability: 7–8 PM and 8–9 PM IST, Monday to Friday\n\nTask: Draft a reply to the given email or message.\n\n\nGuidelines:\n* Tone: Friendly, professional, and precise\n* Keep the response concise and clear\n* Naturally incorporate the company's services when relevant\n* Offer the available time slots when scheduling is needed\n* Do not include a subject line\n* Do not use em-dashes\n* End the email with: Thanks & Reagrds,\nTech Wizards\n\nOutput: A well-structured email reply following the above guidelines."
        }
      },
      "id": "60cbd41d-67f0-49c1-bbef-fe8722842642",
      "name": "AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [720, -112]
    },
    {
      "parameters": {
        "model": "openai/gpt-5-mini",
        "options": {}
      },
      "id": "5fb11216-968c-45fe-b636-b39c11ed160a",
      "name": "OpenRouter Chat Model1",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [592, 112]
    },
    {
      "parameters": {
        "resource": "thread",
        "operation": "reply",
        "threadId": "={{ $('Gmail Trigger').item.json.threadId }}",
        "messageId": "={{ $('Gmail Trigger').item.json.id }}",
        "message": "={{ $json.output }}",
        "options": {}
      },
      "id": "83f984bc-7d3c-4757-94a9-2ce17f3a12a5",
      "name": "Reply to a message",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [1152, -176],
      "webhookId": "2d1c919b-eb5a-40bf-88c6-fa9dff1d92af",
      "disabled": false
    },
    {
      "parameters": {
        "operation": "delete",
        "messageId": "={{ $('Gmail Trigger').item.json.id }}"
      },
      "id": "5588458c-f005-48d7-a1ea-66ede0a99db2",
      "name": "Delete a message",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [272, 208],
      "webhookId": "2e8554be-1f31-4441-8780-f51dd0ac93d9",
      "disabled": true
    },
    {
      "parameters": {
        "resource": "draft",
        "subject": "={{ $('Gmail Trigger').item.json.Subject }}",
        "message": "={{ $json.output }}",
        "options": {
          "threadId": "={{ $('Gmail Trigger').item.json.threadId }}",
          "sendTo": "={{ $('Gmail Trigger').item.json.From }}"
        }
      },
      "id": "a8cb4aa3-75e2-4ece-9607-eecbc9d959e5",
      "name": "Create a draft",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [1104, 64],
      "webhookId": "44e2ca77-7bcc-4182-8aba-6d8974bcad85",
      "disabled": true
    }
  ],
  "pinData": {},
  "connections": {
    "Gmail Trigger": {
      "main": [[{ "node": "Text Classifier", "type": "main", "index": 0 }]]
    },
    "Text Classifier": {
      "main": [
        [{ "node": "Create a label", "type": "main", "index": 0 }],
        [{ "node": "Delete a message", "type": "main", "index": 0 }],
        []
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [[{ "node": "Text Classifier", "type": "ai_languageModel", "index": 0 }]]
    },
    "Create a label": {
      "main": [[{ "node": "Add label to message", "type": "main", "index": 0 }]]
    },
    "Add label to message": {
      "main": [[{ "node": "AI Agent", "type": "main", "index": 0 }]]
    },
    "OpenRouter Chat Model1": {
      "ai_languageModel": [[{ "node": "AI Agent", "type": "ai_languageModel", "index": 0 }]]
    },
    "AI Agent": {
      "main": [[{ "node": "Reply to a message", "type": "main", "index": 0 }]]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "meta": {
    "templateCredsSetupCompleted": false
  },
  "tags": []
}
