workflows/personalized-newsletter.json
{
  "name": "Personalized Newsletter",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "id": "443327ce-291f-4d97-9d5a-fd303b5a415f",
      "name": "When chat message received",
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [-352, -32],
      "webhookId": "40e10d93-6495-49b1-b9f0-5613d9b78860"
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "You are a helpful assistant"
        }
      },
      "id": "bd2a9b19-4a1c-43a8-9e6e-574cc673ba50",
      "name": "AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [0, -16]
    },
    {
      "parameters": {
        "model": "openai/gpt-4.1-mini",
        "options": {}
      },
      "id": "c252091f-2363-4fb2-94e9-2d7c25725fd5",
      "name": "OpenRouter Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [-304, 160]
    },
    {
      "parameters": {
        "contextWindowLength": 50
      },
      "id": "33c40e40-0b68-43a7-bd7a-ee06b2c1be7a",
      "name": "Simple Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [-96, 192]
    },
    {
      "parameters": {
        "sendTo": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('To', '') }}",
        "subject": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Subject', '') }}",
        "message": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message', '') }}",
        "options": {}
      },
      "id": "6186af68-4136-4032-86fc-a343382c234e",
      "name": "Send a message in Gmail",
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.2,
      "position": [224, 176],
      "webhookId": "ed541ebf-150b-4dc3-827f-a836b4698c27"
    },
    {
      "parameters": {
        "query": "={{ $json.chatInput }}",
        "options": {}
      },
      "id": "1775b4f9-055b-4b6f-a94d-2533915bb09c",
      "name": "Search in Tavily",
      "type": "@tavily/n8n-nodes-tavily.tavilyTool",
      "typeVersion": 1,
      "position": [352, 160]
    }
  ],
  "pinData": {},
  "connections": {
    "When chat message received": {
      "main": [[{ "node": "AI Agent", "type": "main", "index": 0 }]]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [[{ "node": "AI Agent", "type": "ai_languageModel", "index": 0 }]]
    },
    "Simple Memory": {
      "ai_memory": [[{ "node": "AI Agent", "type": "ai_memory", "index": 0 }]]
    },
    "Send a message in Gmail": {
      "ai_tool": [[{ "node": "AI Agent", "type": "ai_tool", "index": 0 }]]
    },
    "Search in Tavily": {
      "ai_tool": [[{ "node": "AI Agent", "type": "ai_tool", "index": 0 }]]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "meta": {
    "templateCredsSetupCompleted": false
  },
  "tags": []
}
